@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins" !important;
}

.bslib-page-fill {
  margin: auto;
  max-width: 1500px;
}

#my-sidebar, #app-algo-iteration_results {
  background-color: var(--bs-body-bg);
}

#my-sidebar {
  box-shadow: var(--bs-box-shadow-sm);
  border-radius: 8px;
}

.card-body {
  height: 80vh !important;
}

.Reactable {
  font-size: 0.85rem;
}

#app-algo-iteration_results {
  font-family: "Poppins";
  border: none !important;
}

